<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn vue.js</title>
  </head>
  <body>

<div id="elzeroo-app">
<h1>Welcome to app</h1>
<ul>
  <li v-for="skill in skills">
    {{skill}}
  </li>
</ul>

<ul>
  <li v-for="(skill,index) in skills">
    {{index}} => {{skill}}
  </li>
</ul>

<ul>
  <li v-for="(test,index) in completedTest">
  {{index}} | {{test.testName}} => {{test.testResult}}
  </li>
</ul>
</div>

    <script src="js/vue.js"></script>
    <script>
      var vm = new Vue ({
        el :'#elzeroo-app' ,
        data:{
          name: 'Fatma',
          age: 36,
          date: 'today',
          skills:['HTML','CSS','JS'],
          isSubscriibed: false,
          completedTest: [
          {
            testName: 'First Test',
            testResult: '80%'
          },
          {
            testName: 'Second Test',
            testResult: '70%'
          },
          {
            testName: 'Third Test',
            testResult: '50%'
          },
        ],
      },
      methods:{
        yourAgeinday: function() {
          return 'Your Age In Days Is' + this.age * 365 ;
        }
      }
      })

    </script>
  </body>
</html>
